<div class="row mb-4">
  <div class="col-12">
    <h4>Top Customers</h4>
    <table class="table table-bordered table-striped table-responsive-sm table-sm">
      <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customers">
        <td><a routerLink="/customer/{{customer.nid}}">{{customer.nid}}</a></td>
        <td>{{customer.name}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="row mb-4">
  <div class="col-12">
    <app-customer-search></app-customer-search>
  </div>
</div>
